@using AITech.WebUI.DTOs.SocialDtos
@model List<ResultSocialDto>

<div class="d-flex pt-2">
    @foreach (var item in Model)
    {
        <a class="btn btn-outline-light btn-social me-2"
           href="@item.Url"
           target="_blank"
           rel="noopener noreferrer">
            <i class="@item.Icon"></i>
        </a>
    }
</div>
