@using AITech.WebUI.DTOs.AboutDtos


@model  ResultAboutDto

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <img class="img-fluid"
                     src="@(Model?.ImageUrl ?? "/img/about-img.jpg")"
                     alt="About">
            </div>

            <div class="col-lg-6">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">
                    About Us
                </div>

                <h1 class="mb-4">
                    @Model?.Title
                </h1>

                <p class="mb-4">
                    @Model?.Description
                </p>

               
            </div>

        </div>
    </div>
</div>
