<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">

            <div class="col-lg-3">
                <h1 class="text-white">
                    AI<span class="text-primary">.</span>Tech
                </h1>
                <p>
                    Artificial Intelligence solutions for modern businesses.
                </p>
            </div>

            <div class="col-lg-3">
                <h5 class="text-white mb-4">Get In Touch</h5>
                <p><i class="fa fa-envelope me-2"></i> info@aitech.com</p>

                @await Component.InvokeAsync("_UILayoutSocial")
            </div>

            <div class="col-lg-3">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link">About</a>
                <a class="btn btn-link">Services</a>
                <a class="btn btn-link">Projects</a>
            </div>

            <div class="col-lg-3">
                <h5 class="text-white mb-4">Services</h5>
                <a class="btn btn-link">AI Solutions</a>
                <a class="btn btn-link">Machine Learning</a>
                <a class="btn btn-link">Data Science</a>
            </div>

        </div>
    </div>
</div>
